* {
    color: green;
}

li {
    color: blue;
}

li#special {
    color:pink;
}

.red {
    background: blueviolet;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    border-style: dotted;
    padding: 20px;
    margin: 100px;
}

button:hover {
    color: red;
    background-color: beige;
}


/*  a[href] href tag포함된 것적용 
    a[href^="naver"]  시작하는것 
    a[href$=".com"] 끝나는것
*/
a[href$=".com"] {
    color: purple;
}

[for]{
    color :black
}

ol li#special{
    color: darkgoldenrod;
}