body{
    background-color: #2d3436;
    text-align: center;
    margin: 0 auto;
    color: #ecf0f1;
    overflow-x: hidden;

}
.container:not(img) {
    position: relative;

    width: 100%;
    height: 100%;
} 
@media  screen and (min-width: 800px) {
    .container {
        width: 50%;
    }   
}

img{
    height: 100%;
    position: absolute;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    top:0%;
    left:0%;
    width: 100%;
    /* animation: fadeIn 0.5s linear; */
}
input {
    border: none;
    background: transparent;
    font-size: 22px;
    margin: 3px;
    text-align:center;
    color: #ecf0f1;
    width: 50%;
    border-bottom: 2px solid #ecf0f1;
}
input::placeholder {
    color: rgb(5, 255, 80);
    font-style: italic;
}
h2{
    font-size: 55px;
    margin-top:13%;
    margin-bottom: 0px;
}
ul {
    margin-left: 40%;
}

li{
    list-style: none;
    font-size: 20px;
    text-align:left;
    color: #ecf0f1;
}
li:before{
    content:'🤍';
    display: inline;
    vertical-align: left;
    padding: 5px;
}

button{
    border: none;
    background: transparent;
    font-size: 22px;
}
.hidden {
    display: none;
}
.js-temp{
    font-weight: 500;
    font-size: 22px;
    padding-left: 95%;
}

.js-place{
    font-weight: 300;
    font-size: 12px;
    padding-left: 95%;
}
#weather{
    font-size: 14px;
    top: 1%;
    padding-left: 90%;
}